<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b style="color:darkgreen; font-size: 2rem;">Yehheeyy, Your flight has been booked!</b></p>
    <p><%= "#{@booking.flight.departure_airport.code} to #{@booking.flight.arrival_airport.code}" %></p>
    <p><%= "Ticket Number: #{@booking.flight.id}" %></p>
    <p><%= "Departure Date: #{@booking.flight.departure_date_formatted}"%></p>
    <p><%= "Time: #{@booking.flight.departure_time_formatted}"%></p>
    
  </body>
</html>
