<nav class="nav-container">
    <div class="nav-brand">
        <%= link_to root_path do %>
        
        <% end %>
        <h1 class="title"> </h1>
        <h2>
        <span>
            <%= link_to "ONE WAY TICKET", root_path, style: "color: darkgreen; text-decoration: none "%>        </span , root_path></h2>
        
            <span><h3><%= link_to "Flight Now", root_path%></h3><span>
    
    </div>

</nav>
